body {
  color: green;
  background-color: black;
  font-family: cursive;
  text-align: center;
  }
li {
  list-style-type: none;
  }
h1 {
  font-size: 50px;
  background-color: green;
  color: black
  }
