html {
    font-family: cursive;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 0mm;
  }
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background:            linear-gradient(to left top, rgb(0, 45, 0), black);
    background-attachment: fixed;
}
button, p {
    color: green;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    background: black;
    border-color: green !important;
    border-width: 3px;
    width: 250px;
    height: 250px;
    transition: all 0.3s ease;
}
button:hover {
    transform: scale(1.1);
  }
h2.h2one {
    text-align: center;
    color:green;
    font-size: 40px;
    margin: 0px;
    animation: coolFromUp 1s;
}
.one {
    position: absolute;
    animation: coolFromDown 1s;
    left: 43%;
    top: 400px;
}
.two {
    position: absolute;
    left: 13%;
    animation: coolFromDown 1s;
    top: 400px;
}
.three {
    position: absolute;
    animation: coolFromDown 1s;
    right: 13%;
    top: 400px;
}
h1 {
    color: black;
    text-align: center;
    background: green;
    animation: coolFromUp 1s;
    font-size: 80px;
    margin: 0
}
